<h1>Recuperar contraseña</h1>
<%= form_tag send_password_recovery_path do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="actions"><%= submit_tag "Enviar correo" %></div>
<% end %>